
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ITEM PAGE LAYOUT */

#itemPage main{
    display: flex;
    flex-direction: row;
}

#itemPage .Product{
    grid-area: product;
    text-align: center;
}

#itemPage .Seller{
    grid-area: seller;
    text-align: center;
}


/*MAIN PAGE LAYOUT*/

#mainPage{
    display: flex;
    flex-direction: row;
}

.featured-items{
    text-align: center;
    width: 65%;
}

.about{
    text-align: center;
    width: 35%;
}


/* Search Page Layout */

.browse {
    display: grid;
    grid-template-columns: 300px auto; /* One fixed-width and one flexible column */
    min-height: 75vh; /* Ensures the container takes at least the full height of the viewport */
}

.sidesearch {
    grid-column: 1; /* Aligns the sidebar to the first column */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Vertical spacing between elements within the sidebar */
    padding: 20px; /* Padding around the sidebar content */
}

.searchResult {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
}

.sidesearch form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between form fields */
}