
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ITEM PAGE LAYOUT */

#itemPage main{
    display: flex;
    flex-direction: row;
}

#itemPage .Product{
    grid-area: product;
    text-align: center;
}

#itemPage .Seller{
    grid-area: seller;
    text-align: center;
}


/*MAIN PAGE LAYOUT*/

#mainPage{
    /*display: flex;*/
    flex-direction: row;
}

.featured-items{
    text-align: center;
}

.about{
    text-align: center;
}


/* Search Page Layout */

.browse {
    display: flex;
}

.sidesearch {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Vertical spacing between elements within the sidebar */
    padding: 20px; /* Padding around the sidebar content */
}

.searchResult {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sidesearch form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between form fields */
}