
@media (max-width: 800px) {

    #mainPage{
        flex-direction: column;
    }

    #mainPage .featured-items, #mainPage .about {
        width: 100%;
    }

    header h1 {
        padding: 0.3em 0 0 0;
    }


    #menu .hamburger {
        display: block;
        background-color: inherit;
        color: inherit;
        padding: 1em 0 1em 0;
    }

    .featured-items .product-list .item{
        min-width: 15em;
        max-width: 20em;

        opacity: 0;
        animation: fadeInAnimation 1s ease-in forwards;
    }

    
    #menu .hamburger:before {
        content:'\2630';
    }
    
    #menu ul {
        flex-direction: column;
        align-items: center;
        background-color: #e6d8d8;
        list-style-type: none;
        justify-content: center;
        padding: 0;
        margin: 0;
    }


    #hamburger:checked + .hamburger:before {
        content:'\2715';
    }
    
    #menu ul li {
        width: 100%;
        text-align: center;
        max-height: 0;
        padding: 0 1em;
        background-color: inherit;
        opacity: 0;
        transition: height .3s ease-in-out, opacity .3s ease-in-out, padding .3s ease-in-out;
    }
    
    #hamburger:checked ~ ul li {
        max-height: 5em;
        padding: 0.7em 0;
        opacity: 1;
    }


    /* LOGIN PAGE*/

    .login-form form{
        margin: auto auto 0 auto;
        width: 100%;
    }



    .login-form{
        margin: 0 auto ;
        width: 100%; 
        max-width: 100%;
        display: grid;
        place-items: center;
    }

    .login-form form input{
        padding: 1em 2em;
    }

    .login-form form button{
        margin-top: 3em;
        padding: 1em 2em;
    }

    .login-form form label{
        font-size: large;
    }

    #registerButton{
        margin-top: 3em;
        width: 80%;
    }
    /* END OF LOGIN PAGE */


    /* PROFILE INFO */
    .profile-info{
        margin: 0 auto;
        width: 100%;
    }


}